table, th, tr, td{
border: 1px solid #00FF00;
border-collapse: collapse;
}
body{
	background-color: #000000;
	font-family: 'Wingdings';
}
p, h1, h2, table, a:visited, a:link{
color: #00FF00;
}
h1{
margin: 10px;
padding: 20px;
padding-top: 40px;
}
